@page "{SearchValue?}"
@model WestWindWebApp.Pages.QueryCategoryModel
@{
	ViewData["Title"] = "Category Query";
}
<h1>Category Query</h1>

<form method="post">
	<label asp-for="SearchValue">
		Enter name or description
	</label>
	<input type="text" asp-for="SearchValue" />

	<button type="submit" asp-page-handler="Search">Search</button>
	<button type="submit" asp-page-handler="Clear">Clear</button>

	@if(Model.QueryResultList.Count > 0)
	{
		<table>
			<thead>
				<tr>
					<th>CategoryID</th>
					<th>CategoryName</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model.QueryResultList)
				{
					<tr>
						<td>@item.CategoryID</td>
						<td>@item.CategoryName</td>
						<td>@item.Description</td>
					</tr>
				}
			</tbody>
		</table>
	}
</form>